<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hlmy.spicystrip.model.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="xyz.hlmy.spicystrip.model.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="route" column="route" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="close" column="close" jdbcType="TINYINT"/>
            <result property="hidden" column="hidden" jdbcType="TINYINT"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,name,
        route,icon,close,
        hidden,update_by,create_by,
        pid,update_time,create_time
    </sql>

</mapper>
