<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hlmy.spicystrip.model.sys.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="xyz.hlmy.spicystrip.model.sys.entity.SysPermission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ident" column="ident" jdbcType="VARCHAR"/>
            <result property="ownerMenuId" column="owner_menu_id" jdbcType="BIGINT"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ident,owner_menu_id,
        update_by,update_time
    </sql>
</mapper>
